@main("Lookup Movie!") {
  <form action="javascript:void(0)">
    <input id="lookupText" type="text" name="title" />
    <input id="lookupSubmit" type="submit" />
  </form>

  @* Will have to find (or make) a loading image *@
  @*<img id="loadingImage" src="/assets/public/images/362.gif" style="display: none;" />*@
  <div id="loadingImage" style="display: none;">Loading...</div>
  <div id="movieChoices"></div>

  <script type="text/javascript">
  	function buildTable(data) {
      if (data.movies.length == 0) {
        jQuery('#loadingImage').hide();
        jQuery('#movieChoices').html('No movies found');
      } else {
        var code = '';
        for(var i = 0; i < data.movies.length; i++) {
          code += '<form action="/addMovie" method="post">';
          code += '<input type="hidden" name="request_id" value="' + data.request_id + '" />';
          code += '<input type="hidden" name="title" value="' + data.movies[i].title + '" />';
          code += '<input type="hidden" name="year" value="' + data.movies[i].year + '" />';
          code += '<p><img src="' + data.movies[i].poster + '" /></p>';
          code += '<p>' + data.movies[i].title + ' (' + data.movies[i].year + ')</p>';
          code += '<p><input type="submit" value="Add movie" /></p>';
          code += '</form>';
        }
        jQuery('#loadingImage').hide();
        jQuery('#movieChoices').html(code);
      }
  	}

  	jQuery(document).ready(function() {
  		jQuery('#lookupSubmit').click(function() {
        jQuery('#movieChoices').html("");
        jQuery('#loadingImage').show();
  			var title = jQuery('#lookupText').val();
  			var sendData = {
  				"title": title
  			};
  			jQuery.getJSON('getmovie', sendData, buildTable);
  			return false;
  		});
  	});
  </script>
}

